button {
    display: inline-block;
}

span {
    display: none;
}

.highlight {
    background-color: yellow;
}

#textbox {
    margin-top: 50px;
    display: block;
    width: 500px;
}

#image {
    display: block;
}
